# Node.js
node_modules/

# Environment files
.env

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/

# Dependency directories
bower_components/

# Operating System files
.DS_Store
Thumbs.db

# IDE configurations (e.g., VSCode, WebStorm, etc.)
.vscode/
.idea/

# npm package lock file (if you don't want to commit it)
package-lock.json

# Temporary files
*.tmp
